body {
  background: #fbf3ff;
}

.outercontainer {
  margin: 0 auto;
}

.myContainer {
  margin: auto;
  display: flex;
  justify-content: center;

}

.myLeftCtn {
  position: relative;
  background: #ffffff;
  border-radius: 25px;
  
  margin: 20px;

  padding: 25px;
  color: rgb(192, 192, 192);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myLeftCtn header {
  color: blueviolet;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}


.myForm {
  position: relative;
  align-content: center;

}
